<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ponto Online</title>
    <link rel="stylesheet" href="home.css">
    <script defer src="script.js"></script>
</head>
<body>
    <div class="time-container">
        <span id="current-time"></span>
    </div>
    <div class="container">
        <h1>Gerenciamento ponto dos funcionários</h1>
        <form>
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" required>

            <label for="access-code">Código de Acesso (CPF):</label>
            <input type="password" id="access-code" name="access-code" required>

            <button type="submit">Bater Ponto!</button>
        </form>
    </div>
</body>
</html>
