<!DOCTYPE html>
<html>
<head>
    <title>Registros</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 15px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Lista de Funcionários</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Posição</th>
            <th>Salário</th>
        </tr>
        {% for funcionario in funcionarios %}
        <tr>
            <td>{{ funcionario.id }}</td>
            <td>{{ funcionario.name }}</td>
            <td>{{ funcionario.position }}</td>
            <td>{{ funcionario.salary }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
